{sub_dirs, [
            "apps/loadtest",
            "rel"
           ]}.

{erl_opts, [
	    debug_info 
	    %,fail_on_warning
	   ]}.

{deps, [
    	{boss, ".*", {git, "git://github.com/ChicagoBoss/ChicagoBoss.git",  {branch, "v0.8.13"}}}
    	%%{boss, ".*", {git, "git://github.com/mihawk/ChicagoBoss.git",  {branch, "new_cb"}}}
	]}.

%{require_otp_vsn, "R15B03|R16B|17"}.


