[{boss, [
    {path, "../../deps/boss"},       
    {applications, [loadtest]},
    %{db_host, "192.168.188.81"},
    %{db_port, 1978},
    %{db_adapter, mock},
    {log_dir, "log"},
    {server, cowboy},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
    %,{websocket_timeout, 5000}
]},
{ loadtest, [
    {path, "../loadtest"},
    {base_url, "/"},

%%loadtest_custom_filters
%%loadtest_custom_tags
%%loadtest_view_lib_tags

    {model_modules, []},
    {websocket_modules, [
                         ]},
    {controller_modules,[
                         loadtest_test_controller,
                         loadtest_incoming_mail_controller,
                         loadtest_outgoing_mail_controller
                         ]},                      
    {view_modules,[loadtest_view_test_index_html]}
 ]}
].
